// Header Interior

.navbar-container-main {
  padding: 30px 40px;
}

.header-banner-bg-int {
  background-image: url("../img/pattern-b.svg"), linear-gradient(263deg, $color-dark-a 17.49%, $color-dark-b 91.12%);
  background-color: $color-dark-a;
  background-size: 400px 400px, auto;
  background-repeat: repeat, no-repeat;
  padding: 100px 40px;
  overflow: hidden;
}


// Mobile - Llamados en _mobile.scss

@mixin header-interior--md() {
  .header-banner-bg-int {
    padding: 80px 40px;
  }
}

@mixin header-interior--sm() {
  .navbar-container-main {
    padding: 30px 30px;
  }

  .header-banner-bg-int {
    padding: 60px 30px;
  }
}